html {
    scroll-behavior: smooth;
    font-family: "Roboto", Arial;
}

a {
    text-decoration: none;
}

#pfp {
    height: 340px;
    border-radius: 220px;
}

.wordtip {
    font-size: larger;
    font-weight: 700;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    padding: 8px;
}

#navigate {
    margin-left: 15px;
}

#projects {
    margin-left: 15px;
}